config/loginCredential.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="loginCredential">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="username" type="xs:string" minOccurs="0"/>
				<xs:element name="password" type="xs:string" minOccurs="0"/>
				<xs:element name="captcha" type="xs:string" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" />
		</xs:complexType>
	</xs:element>
</xs:schema>