config/password.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="password">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="oldPassword" type="xs:string" minOccurs="0"/>
				<xs:element name="newPassword" type="xs:string" minOccurs="0"/>
				<xs:element name="confirmPassword" type="xs:string" minOccurs="0"/>
				<xs:element name="email" type="xs:string" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>